<ion-content>
  
    <ion-tabs>
       

        <ion-tab-bar slot="bottom">
            <mat-toolbar color="primary">
          <ion-tab-button tab="home">
              <i class="material-icons tab-icons">dashboard</i>
            <ion-label>DASHBOARD</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="salary">
              <i class="material-icons tab-icons">date_range</i>
            <ion-label>SALARY</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="review">
              <i class="material-icons tab-icons">thumbs_up_down</i>
            <ion-label>REVIEW</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="profile">
              <i class="material-icons tab-icons">person</i>
            <ion-label>PROFILE</ion-label>
          </ion-tab-button>
        </mat-toolbar>
        </ion-tab-bar>
     
      </ion-tabs>
    
</ion-content>
